<!DOCTYPE html>
<html lang="en">
body {
  font-family: Arial, Serif;
  background-color: #FFFFFF;
  color: #333;
  margin: 0;
  padding: 0;
  <img src="IMG0435.png" alt="哲哲的甜點大冒險">

}

header {
  background-color: #66CCFF;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0
}
</html>
